# build artifacts
node_modules
.next
out

# env files
.env.local
.env.*.local

# TypeScript build cache
tsconfig.tsbuildinfo
*.tsbuildinfo

# test coverage
coverage

# OS / editor cruft
.DS_Store
Thumbs.db

# vercel
.vercel

# logs
*.log
npm-debug.log*

# bun
bun-debug.log*